@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
$backgroundColor: #49F0EB;
$accentColor:#FF0077;
$primaryColor:white;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $backgroundColor;
    font-family: 'Comic Neue', cursive;
}



@import './Main';
@import './AddPlayer';
@import './Game';
@import './Scoreboard';


